@charset "UTF-8";

/* header.css : header.jsp에 적용할 css */

ul { list-style : none; }
ul li {
	
	float : left;	
	margin-right : 5px;
	background : orange;
	
}

ul li a {
	
	text-align : center;
	text-decoration : none;
	padding-top : 5px;
	padding-bottom : 0;
	display : block;
	width : 100px;
	height : 35px;
	color : navy;
	fint-weight : bold;
	
}

ul li a:hover {
	
	background : olive;
	text-shadow : 1px 1px 2px white;
	box-shadow : 2px 2px 4px gray;
	
}